#comments-selector {
  padding: 0;

  div {
    display: inline-block;
    height: 60px;
    width: 50%;
    line-height: 60px;
    text-align: center;
    border: 1px solid #c6c6c6;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      background-color: #D6DBDE;
    }
  }

  #youtube-select {
    border-left: none;
  }

  .selected {
    background-color: #daefff;
  }
}

#reddit-comments-card {
  overflow: auto;

  .empty-message {
    text-align: center;
    font-size: 24px;
  }

  .reddit-comment {
    margin-top: 20px;
    overflow: auto;

    a {
      &:hover {
        text-decoration: none;
      }
    }

    &.lesser {
      padding-left: 20px;
      margin-left: 19px;
    }

    &:first-child {
      margin-top: 0;
    }

    .reddit-comment-updoot {
      float: left;
      text-align: center;
      width: 5%;
      margin-top: 5px;

      div {
        margin: 0 auto;
        height: 14px;
        width: 15px;
      }
      .up {
        background-position: 0 -24px;
      }
      .down {
        background-position: -30px -24px;
      }
    }

    .comment-wrapper {
      float: left;
      width: 95%;

      .reddit-comment-user {
        margin-bottom: 5px;
        display: inline-block;
        margin-right: 15px;
      }

      .reddit-comment-sub {
        display: inline-block;
        margin-bottom: 5px;
        color: rgb(210, 210, 0);
      }

      .reddit-comment-source {
        display: inline-block;
        margin-top: 5px;
      }

      .reddit-comment-more {
        display: inline-block;
        margin-left: 15px;
        margin-top: 5px;
      }
    }

    table {
      box-sizing: border-box;
      border: 4px solid rgb(198, 198, 198);
      margin: 5px 0;

      tr {
        border-top: 4px solid rgb(198, 198, 198);

        &:first-child {
          border-top: none;
        }
      }
    }

    p {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
