#comments-selector {
  padding: 0;

  div {
    display: inline-block;
    height: 60px;
    width: 50%;
    line-height: 60px;
    text-align: center;
    border: 1px solid #c6c6c6;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      background-color: #D6DBDE;
    }
  }

  #youtube-select {
    border-left: none;
  }

  .selected {
    background-color: #daefff;
  }
}

#reddit-comments-card {
  overflow: auto;

  .reddit-comment {
    margin-top: 20px;
    overflow: auto;

    &:first-child {
      margin-top: 0;
    }

    .reddit-comment-updoot {
      float: left;
      text-align: center;
      width: 5%;

      div {
        margin: 0 auto;
        height: 14px;
        width: 15px;
      }
      .up {
        background-position: 0 -24px;
      }
      .down {
        background-position: -30px -24px;
      }
    }

    .comment-wrapper {
      float: left;
      width: 95%;

      .reddit-comment-source {
        display: inline-block;
      }

      .reddit-comment-more {
        display: inline-block;
        margin-left: 15px;
      }
    }
  }
}
